<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Password</td>
        <td>Role</td>
    </tr>
    <tr th:each="user, userStat : ${users}">
        <td th:text = "${userStat.count}"></td>
        <td th:text = "${user.name}"></td>
        <td th:text = "${user.email}"></td>
        <td th:text = "${user.pass}"></td>
        <td th:text = "${user.role}"></td>
    </tr>
</table>
</body>
</html>